body {
  margin: 0;
  padding: 0;
  background: #171819;
  color: rgba(238,238,238, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

iframe {
  position: fixed;
  top: 45%; right: 0; bottom: 0; left: 0;
  width: 100%;
  color: #fff;
  border: none;
  background: white;
  min-height: 100%;
}

.editor-interface {
  position: fixed;
  top: 0; right: 0; bottom: 55%; left: 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(238,238,238, 0.2);
}

.instructions {
  width: 25%;
  text-align: left;
  padding: 15px 20px;
  overflow: scroll;
}

.instructions h1 {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(238,238,238, 0.2);
  padding-bottom: 10px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}

.instructions h2 {
  font-size: 16px;
  font-weight: 100;
  margin-top: 0;
}

.instructions ul {
  font-size: 16px;
  padding-left: 25px;
}

.instructions li {
  font-size: 16px;
  margin-top: 0;
}

.code-inputs {
  display: flex;
  width: 75%;
}

.code-inputs textarea {
  font-size: 14px;
  font-weight: 400;
  flex-grow: 1;
  background-color: inherit;
  color: #fff;
  border: none;
  border-left: 1px solid rgba(238,238,238, 0.2);
  padding: 10px;
  outline: 0;
  resize: none;
}
